[submodule "examples/tutorial/Lua/1-setup/repos/benmet-tutorial-stub-numgen"]
	path = examples/tutorial/Lua/1-setup/repos/benmet-tutorial-stub-numgen
	url = https://github.com/rohlem/benmet-tutorial-stub-numgen
[submodule "examples/tutorial/Lua/2-execution-part-1/repos/benmet-tutorial-stub-numgen"]
	path = examples/tutorial/Lua/2-execution-part-1/repos/benmet-tutorial-stub-numgen
	url = https://github.com/rohlem/benmet-tutorial-stub-numgen
[submodule "examples/tutorial/Lua/3-execution-part-2/repos/benmet-tutorial-stub-numgen"]
	path = examples/tutorial/Lua/3-execution-part-2/repos/benmet-tutorial-stub-numgen
	url = https://github.com/rohlem/benmet-tutorial-stub-numgen
